<section class="contacto fade-up">
  <div class="contacto-container">

    <div class="contacto-info">
      <h2>Conoce Nuestras Ultimas Noticias</h2>
      <p>
        Acciones que generan impacto positivo en Colombia
      </p>
     
      <div class="contact-card">
        
        <div>
          <h4></h4>
          <img src="../assets/bota_retro_blanco_rojo_niño.jpeg" alt="bota">
          <p>   </p>
        </div>
      </div>

      <div class="contact-card">
        
        <div>
          <h4></h4>
          <p></p>
        </div>
      </div>

      <div class="contact-card">
        
        <div>
          <h4></h4>
          <p></p>
        </div>
      </div>

    </div>

  </div>
</section>

  <section class="about" id="info">
    <img src="assets\fondo_quines_somos.jpeg" alt="bota_niño">

    <div class="about-text">
      <h3>¿Quiénes Somos?</h3>

      <p>
        Fundación Escalando Colombia es una organización comprometida con
        el crecimiento integral de las comunidades, fomentando valores,
        educación y oportunidades para construir un mejor futuro.
      </p>

      <br>

      <p>
        Nuestro objetivo es inspirar, apoyar y transformar vidas mediante
        programas innovadores y trabajo colaborativo.
      </p>
    </div>
  </section>

  <section class="about2">
    <img src="assets\fondo_vision.jpeg" alt="Fundación">
    <div class="about-text">
      
      <h3>Nuestra Vision</h3>

      <p>
        Ser una fundación reconocida en Colombia por impulsar el cambio social a través del deporte, formando generaciones de niños y jóvenes líderes, comprometidos con su comunidad y capaces de alcanzar sus metas personales, académicas y deportivas, contribuyendo así a una sociedad más equitativa, positiva y llena de oportunidades.
      </p>

      <br>

      <p>
        Nuestro objetivo es inspirar, apoyar y transformar vidas mediante
        programas innovadores y trabajo colaborativo.
      </p>
    </div>

    
  </section>

  <section class="about">
    <img src="assets\fondo_mision.jpeg" alt="Fundación">

    <div class="about-text">
      <h3>Nuestra Mision</h3>

      <p>
        La Fundación Escalando Colombia tiene como misión transformar la vida de niños, 
        niñas y jóvenes mediante el deporte como herramienta de formación, inclusión y desarrollo integral, 
        promoviendo valores como la disciplina, el respeto, el trabajo en equipo y la superación personal, 
        para construir comunidades más saludables, seguras y con mayores oportunidades de futuro.
      </p>

      <br>

      <p>
        Nuestro objetivo es inspirar, apoyar y transformar vidas mediante
        programas innovadores y trabajo colaborativo.
      </p>
    </div>
  </section>

  <section id="certificados">
    <div class="section-title">
      <h3>Nuestros niños</h3>
      <p>Sembramos esperanza en el corazón de cada niño.</p>
      
    </div>

    <div class="cards">
      
    </div>
  </section>

  <section id="certificados">
    <div class="section-title">
      <h3>Informacion Financiera</h3>
      <p>Consulta nuestros estados financieros y certificados.</p>
    </div>

    <div class="cards">
      <div class="card">
        
        <h4>CERTIFICADO ESPECIAL</h4>
        <p>
          
        </p>
        <a href="assets\20260220_Acta de constitucion y estatutos fundacion escalando colombia.pdf" class="btn">Ver Documento</a>
      </div>

      <div class="card">
        
        <h4>ACTA DE AUTORIZACION</h4>
        <p>
          
        </p>
        <a href="assets\20260331_Acta de autorizacion FUNDACION ESCALANDO COLOMBIA.pdf" class="btn">Ver Documento</a>
      </div>

      <div class="card">
        
        <h4>CERTIFICACION DE ANTECEDENTES</h4>
        <p>
          
        </p>
        <a href="assets\20260223_Certificacion de antecedentes judiciales fundacion escalando colombia.pdf" class="btn">Ver Documento</a>
      </div>
      
      <div class="card">
        
        <h4>REPRESENTACIÓN LEGAL</h4>
        <p>
          
        </p>
        <a href="assets\20260508_Camara de comercio - Fundacion escalando colombia.pdf  " class="btn">Ver Documento</a>
      </div>

 
      <div class="card">
        
        <h4>BALANCE INICIAL</h4>
        <p>
          
        </p>
        <a href="assets\2025_BALANCE INICIAL FUNDACION ESCALANDO (2).pdf" class="btn">Ver Documento</a>
      </div>
    </div>
  </section>